[package]
name = "json-gettext"
version = "3.1.6"
authors = ["Magic Len <len@magiclen.org>"]
edition = "2018"
repository = "https://github.com/magiclen/json-gettext"
homepage = "https://magiclen.org/json-gettext"
keywords = ["json", "i18n", "multi-language", "static", "rocket"]
categories = ["internationalization"]
description= "A library for getting text from JSON usually for internationalization."
readme = "README.md"
license = "MIT"

[badges.travis-ci]
repository = "magiclen/json-gettext"
branch = "master"

[dependencies]
serde = "1"
serde_json = "1"
regex = "1"
rocket = {version = "0.4", optional = true}

[features]
rocketly = ["rocket"]

[[example]]
name = "hello"
required-features = ["rocketly"]